<%= link_to edit_topic_path, remote: true do %>
  <div class="new text-center">
    <h1><%= @topic.title %></h1>
    <small>(Click here to edit the topic)</small>
    <div class="tooltip-wrapper disabled" data-title="Topic needs to be empty to delete." data-placement="right">
      <%= link_to 'Delete', topic_path, method: :delete, class: "btn btn-md btn-danger #{disabled}", data: {confirm: 'Are you sure you want to delete this post?'} %>
    </div>
  </div>
<% end %>
<!--
<div class="container-fluid">
  <% @topic.bookmarks.each_slice(5).to_a.each do |n| %>
    <div class="row">
      <% n.each do |bookmark| %>
        <div class="col-sm-2 bookmarks show">
          <%= bookmark.url.match(/^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:\/\n]+)/im)[1] %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
-->
<div class="container-fluid">
  <% @topic.bookmarks.each do |bookmark| %>
    <div class="bookmarks child pull-left">
      <%= link_to bookmark.url.match(/^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:\/\n]+)/im)[1], topic_bookmark_path(@topic, bookmark), remote: true %>
    </div>
  <% end %>
  <%= link_to "Add bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-primary child pull-left', remote: true %>
</div>
