<% if @user == current_user %>
 <h1 class="text-center">My Blocmarks</h1>
<% else %>
  <h1 class="text-center"><%= "#{@user.name}'s Blocmarks" %></h1>
<% end %>
<div class="container">
  <% @used_topics.each do |topic| %>
    <div class="topic">
      <h3><%= link_to topic.title, topic_path(topic) %></h3>
      <div class="owl-carousel owl-theme">
        <% topic.bookmarks.each do |bookmark| %>
          <% if @user_bookmarks.include?(bookmark) %>
            <div class="bookmark-wrapper">
              <div class="bookmarks">
                <%= link_to topic_bookmark_path(topic, bookmark), remote: true do %>
                  <p><%= bookmark.url.match(/^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:\/\n]+)/im)[1] %></p>
                  <a href="<%= bookmark.url %>" class="urlembed"></a>
                <% end %>
              </div>
              <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="left-arrow">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </div>
      <div class="right-arrow">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
<h1 class="text-center">Liked Blocmarks</h1>
<br>
<div class="container">
  <% @liked_topics.each do |topic| %>
    <div class="topic">
      <h3><%= link_to topic.title, topic_path(topic) %></h3>
      <div class="owl-carousel owl-theme">
        <% topic.bookmarks.each do |bookmark| %>
          <% if @liked_bookmarks.include?(bookmark.likes.find_by(user_id: @user.id)) %>
            <div class="bookmark-wrapper">
              <div class="bookmarks">
                <%= link_to topic_bookmark_path(topic, bookmark), remote: true do %>
                  <p><%= bookmark.url.match(/^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:\/\n]+)/im)[1] %></p>
                  <a href="<%= bookmark.url %>" class="urlembed"></a>
                <% end %>
              </div>
              <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="left-arrow">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </div>
      <div class="right-arrow">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    </div>
  <% end %>
</div>
