<div class="modal-dialog modal-md">
  <div class="modal-content">

    <div class="modal-header">
      <button class="close" data-dismiss="modal">X</button>
      <h1>Sign In</h1>
    </div>
    <div class="form-horizontal">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :login, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :login, class: 'form-control', placeholder: 'Username or Email ID' %>
          </div>
        </div>

        <div class="col-xs-12"></div> <!-- for space between forms -->

        <div class="col-xs-12"></div> <!-- for space between forms -->

        <div class="col-xs-12"></div> <!-- for space between forms -->

        <div class="form-group">
          <%= f.label :password, class: "col-sm-4 control-label" %>
          <div class="col-sm-6">
            <%= f.password_field :password, class: 'form-control', autocomplete: "off"  %>
          </div>
        </div>

        <div class="col-xs-12"></div> <!-- for space between forms -->

        <div class="col-xs-12"></div> <!-- for space between forms -->

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.label :remember_me, 'Remember me?', class: "col-sm-4 control-label" %>
            <div class="col-sm-6">
              <%= f.check_box :remember_me %>
            </div>
          </div>
        <% end -%>
      </div>

      <div class="modal-footer">
        <div class="form-group col-sm-8 control-label">
          <%= f.submit "Sign In", class: 'btn btn-lg btn-default' %>

        <% end %> <!-- end of form -->

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
